site_name: Caroline
site_description: Privacy respecting backend services with multiplatform Kotlin SDKs.
site_url: https://docs.caroline.cloud/
repo_url: https://github.com/drewcarlson/caroline
remote_branch: gh-pages
docs_dir: docs
edit_uri: edit/main/docs/
copyright: 'Copyright &copy; 2026 Drew Carlson'

theme:
  name: material
  palette:
    scheme: slate
  icon:
    repo: fontawesome/brands/github
  features:
    - content.action.edit

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - mike
  - markdownextradata: {}

extra:
  caroline_version: !ENV [VERSION, '0.0.1-test']
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/DrewCarlson/Caroline
    - icon: fontawesome/brands/docker
      link: https://github.com/DrewCarlson/Caroline/pkgs/container/caroline

nav:
  - Home: index.md
  - Getting Started: 1-getting-started.md
  - Development:
      - Documentation: development/documentation.md