name: Code Quality

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  file-changes:
    runs-on: ubuntu-latest
    outputs:
      any: ${{ steps.changes.outputs.any_changed }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: Get changed files
        id: changes
        uses: tj-actions/changed-files@875e6e5df8b8b00995fe6f0afd7ff1531ac1c47d
        with:
          files: |
            .github/workflows/spotless.yml
            **/caroline-sdk/**/*.kt
            **/caroline-sdk/**/*.kts
            **/caroline-server/**/*.kt
            **/caroline-server/**/*.kts

  spotless-check:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.any == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@78f7dee6337f393c0a872d0afbda4c51a20e543d

      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v2

      - name: Spotless Check
        run: ./gradlew spotlessCheck

  api-check:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.any == 'true' || github.ref_name == 'main'
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@78f7dee6337f393c0a872d0afbda4c51a20e543d

      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: |
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}

      - name: Check public api compatibility
        run: ./gradlew checkLegacyAbi
