name: Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKey }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKeyPassword }}
  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralUsername }}

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  file-changes:
    runs-on: ubuntu-latest
    outputs:
      any: ${{ steps.check.outputs.any_changed }}
      docs: ${{ steps.docs.outputs.any_changed }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Get changed files
        id: check
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21
        with:
          files: |
            .github/workflows/publish.yml
            build.gradle.kts
            gradle/libs.versions.toml
            gradle/kotlin-js-store/**
            **/caroline-sdk/**
            **/caroline-server/**
            Dockerfile

      - name: Get changed files
        id: docs
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21
        with:
          files: |
            .github/workflows/publish.yml
            docs/**/**/*.md
            mkdocs.yml

  publish-maven:
    runs-on: macos-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.any == 'true' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@78f7dee6337f393c0a872d0afbda4c51a20e543d

      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}

      - name: Publish
        run: ./gradlew clean publish

  publish-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    needs: [ file-changes ]
    if: needs.file-changes.outputs.any == 'true' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          submodules: 'recursive'

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@78f7dee6337f393c0a872d0afbda4c51a20e543d

      - name: Cache Build files
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}

      - name: Build Server
        run: ./gradlew :caroline-server:caroline-server-bundled:installShadowDist

      - name: Container registry Log in
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
            type=ref,event=branch,enable=${{ startsWith(github.ref, 'refs/tags/v') == false }}
            type=semver,pattern={{version}},enable=${{ startsWith(github.ref, 'refs/tags/v') }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@7c525be6cc8a882d5163ce04293cac18617c709f

      - name: Build and push Docker image
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  publish-docs:
    runs-on: ubuntu-latest
    needs: [ file-changes ]
    if: needs.file-changes.outputs.docs == 'true' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.12'
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'docs/requirements.txt'
      - name: Install Python dependencies
        run: python3 -m pip install -r ./docs/requirements.txt
      - name: Deploy with mike (release)
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          VERSION=${GITHUB_REF_NAME#v} mike deploy --update-aliases --push ${{ github.ref_name }} latest
      - name: Deploy with mike (snapshot)
        if: startsWith(github.ref, 'refs/tags/v') == false
        run: |
          mike deploy --update-aliases --push snapshot dev-snapshot
