name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2

      - uses: actions/setup-java@3b6c050358614dd082e53cdbc55580431fc4e437
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244

      - name: Cache Build files
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: |
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@v1.9.0
        with:
          mongodb-version: 4.4

      - run: >
          ./gradlew
          :caroline-server:caroline-server-bundled:build
          :caroline-server:caroline-server-core:check
          :caroline-server:caroline-server-crash:check
          :caroline-server:caroline-server-functions:check
          :caroline-server:caroline-server-functions-runtime:check
          :caroline-server:caroline-server-internal:check
          :caroline-server:caroline-server-logging:check
          :caroline-server:caroline-server-projects:check
          :caroline-server:caroline-server-users:check

      - name: Archive Test Results
        uses: actions/upload-artifact@6027e3dd177782cd8ab9af838c04fd81a07f1d47
        if: ${{ always() }}
        with:
          name: test-results-server
          path: '**/build/reports/*'

  test-sdk:
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2

      - uses: actions/setup-java@3b6c050358614dd082e53cdbc55580431fc4e437
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244

      - name: Cache Build files
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}
      #      - uses: eskatos/gradle-command-action@v1
      #        name: Test Windows Target
      #        if: ${{ startsWith(matrix.os, 'windows') }}
      #        with:
      #          arguments: win64Test
      #      - uses: eskatos/gradle-command-action@v1
      #        name: Test Apple Targets
      #        if: ${{ startsWith(matrix.os, 'macos') }}
      #        with:
      #          arguments: macosTest # iosTest tvosTest watchosX86Test
      - name: Test Linux/Jvm/Js Targets
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: ./gradlew jvmTest jsTest #linuxX64Test

      - name: Archive Test Results
        uses: actions/upload-artifact@6027e3dd177782cd8ab9af838c04fd81a07f1d47
        if: ${{ always() }}
        with:
          name: test-results-sdk-${{ matrix.os }}
          path: '**/build/reports/*'

  kover-report:
    runs-on: ubuntu-latest
    needs: [ test-server, test-sdk ]
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@v1.9.0
        with:
          mongodb-version: 4.4
      - name: Generate Kover report
        run: ./gradlew koverXmlReport
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "**/build/reports/kover/project-xml/report.xml"

  upload-junit-results:
    runs-on: ubuntu-latest
    needs: [ test-server, test-sdk ]
    steps:
      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2
      - name: Download sdk test results
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e
        with:
          pattern: test-results*
      - name: Publish Unit Test Results
        uses: mikepenz/action-junit-report@cf701569b05ccdd861a76b8607a66d76f6fd4857
        if: ${{ always() }}
        with:
          report_paths: '**/TEST-*.xml'